* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    overflow: hidden;
    position: relative;
}

.body-bg{
    opacity: 0.6;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
}
.hero-title {
    margin: auto;
    padding: 1em;
}

.content {
    position: relative;
}

.btnLang {
    display: flex;
    float: right;
    position: relative;
}

.btnLang ul {
    list-style: none;
    display: flex;
}

.btn {
    background: rgb(224, 129, 61);
    color: white;
    margin: .5em;
    padding: 1em;
    border: none;
    cursor: pointer;
    position: relative;
}

p{
    margin: auto;
    padding: 1.5em;
}

.search-city {
    margin: auto;
    padding: 1.5em;
}

.search-city select {
    padding: .5em;
    outline: none;
    border: none;
}